// GLOBAL RESET CSS
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

// GLOBAL RESET CSS END

body {
    background-color: #0b0b0b;
}

//HEADER
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-inline: 1.9em;

    #menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        gap: 6px;
        z-index: 100;

        span {
            display: block;
            height: 2px;
            background: #ffffff;
            width: 1.9em;
            transition: all 0.3s;
        }
    }

    #menu-toggle.is-active :nth-child(1) {
        transform: translateY(400%);
    }

    #menu-toggle.is-active :nth-child(2) {
        opacity: 0;
    }

    #menu-toggle.is-active :nth-child(3) {
        transform: translateY(-400%);
    }

    .rockstar-logo {
        height: 2.3rem;
    }

    .avatar-icon {
        height: 2.2em;
        cursor: pointer;
    }
}

// HEADER END

// MOBILE NAV
.mobile-nav {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.96);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em 2em;
    position: fixed;
    width: 100%;
    right: 100%;
    transition: all 0.2s;
    z-index: 99;


    form {

        label {
            display: flex;
            gap: 1em;
            background-color: #111;
            height: 3em;
            border-radius: 4px;
            width: 100%;

            button {
                background: none;
                border: none;
                color: #fff;
                margin-left: 10px;
                cursor: pointer;
            }

            input {
                background: none;
                border: none;
                flex-grow: 1;
                color: #fff;
                font-size: 15px;
                font-weight: bold;
            }

            input:focus {
                outline: none;
            }
        }
    }

    ul {
        // height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        li {
            a {
                color: #fff;
                font-weight: bold;
                font-size: 25px;
                transition: all 0.3s;

                svg {
                    max-width: 17px;
                }
            }

            a:hover {
                color: #fcaf17;
            }
        }
    }
}

.mobile-nav.in-action {
    right: 0;
    /* BETTER THAN CJ*/
}

// MOBILE NAV END

// MAIN
main {
    overflow: hidden;
    min-height: 31em;
    background-color: #000000;

    .images-wrapper {
        display: flex;
        width: 500%;
        height: fit-content;
        overflow: hidden;

        .slide {
            width: 20%;
            transition: .5s;
        }

        img {
            width: 100%;
        }
    }

    .info {
        position: relative;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;


        h5 {
            color: #fff;
        }

        h3 {
            color: #fff;
            font-size: 1.850rem;
            line-height: 1.1;

        }

        .watch-video {
            cursor: pointer;
            margin-top: 1em;
            padding: 10px;
            background-color: #000000;
            font-size: 1rem;
            border: 1px solid #fff;
            border-radius: 4px;
            transition: all 0.2s;
            text-align: center;

            button {
                border: none;
                background: none;
                color: #fff;
                font-weight: bold;
                transition: all 0.3s;
                font-size: 1rem;
            }

            button:hover {
                color: #000000;
            }
        }

        .watch-video:hover {
            background-color: #fcaf17;
            border-color: #fcaf17;
        }

        .watch-video:hover button {
            color: #000000;
        }
    }

    .buttons {
        position: sticky;
        margin-top: 13px;
        // top: 35em;
        left: 9%;
        display: flex;
        gap: .2em;
    }

    .buttons a {
        height: 2px;
        width: 1.5em;
        margin: 0 5px;
        border-radius: 10px;
        background-color: #fff;
    }

    a.active {
        background-color: #ffe605;
    }

}

// MAIN END

// ARTICLE 
article {
    padding-top: 2em;
    padding-inline: 2em;
    background-color: #0b0b0b;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    h2 {
        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

        .card {
            border: solid 1px #282828;
            border-radius: 10px;
            background-color: #000000;
            color: #fff;

            img {
                width: 100%;
                border-radius: 10px;
            }

            .details {
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 2em 1.5em;

                .metadata {
                    display: flex;
                    gap: 1em;
                    align-items: center;

                    :nth-child(1) {
                        color: #e8e8e8;
                    }

                    :nth-child(2) {
                        color: #979797;
                    }
                }
            }
        }
    }
}

// ARTICLE END

// ASIDE
aside {
    display: flex;
    flex-direction: column;
    padding-inline: 2em;
    padding-top: 5em;
    gap: 1.5em;
    padding-bottom: 2em;

    h2 {
        color: #fff;
    }

    .games {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;

        .game {

            img {
                max-width: 100%;
                border-radius: 10px;
            }
        }
    }

    a {
        align-self: center;
        color: #fff;
        text-decoration: underline #fcaf17;
        text-underline-offset: 2px;
        text-decoration-thickness: 3px;
        font-weight: bold;
        transition: all 0.3s;
    }

    a:hover {
        background-color: #fcaf17;
        color: #161616;
        padding: 5px;
        border-radius: 10px;
        text-decoration: none;
    }
}

// ASIDE END