*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0b0b;
}

//HEADER
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;

    #menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
        cursor: pointer;
        gap: 6px;
        z-index: 100;

        span {
            display: block;
            height: 2px;
            background: #ffffff;
            width: 2em;
            transition: all 0.3s;
        }
    }

    #menu-toggle.is-active :nth-child(1) {
        transform: translateY(400%);
    }

    #menu-toggle.is-active :nth-child(2) {
        opacity: 0;
    }

    #menu-toggle.is-active :nth-child(3) {
        transform: translateY(-400%);
    }

    .rockstar-logo {
        height: 2.3rem;
    }

    .avatar-icon {
        height: 2.2em;
    }
}

// HEADER END